.banner{
  margin-top: 20px;
  background-color: black;
  height:200px;
}
.banner>video{
  height:200px;
  width: 100%;
}
.container{
  justify-content: center;
  margin: 40px;

  display: grid;
    grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-card {
  gap:25px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 10px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 20px;
}

.product-price {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  margin-top: -10px;

}

.shop-now-btn {
  background-color:black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}