*{
    margin: 0;
    padding: 0;
    font-family: garamond,Arial, Helvetica, sans-serif;
}

/* Navbar */
nav{
    border-bottom: 1px solid #e1e0e0;
    height: 56px;
    padding: 0 68px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.navigation>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:550;
    margin-right: 20px;
}
.logo>p{
    color: black;
    font-size: 30px;
    font-weight:600;
    padding-left: 210px;
    padding-top: 10px;
}
.icons{
    display: flex;
    padding-left: 400px;
    gap: 20px;
    float: right;
}
/* Footer */
.footer {
    /* position: fixed; */
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    height: auto;
    margin-bottom: 0px;
  }
  .footer>p{
    margin-bottom: 0px;
  }

.containerss {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f2f2f2;
    margin-top: 30px;
    /* position: fixed; */
    height: auto;
    bottom: 0px;
    left: 0;
    width: 100%;

}

.nav-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-item>a {
    text-decoration: none;
    color: black;
}

#footericon{
    display:flex;
    flex-direction: row;
    gap: 10px;
}
#footericon>a{
    text-decoration: none;
    color: black;
}